#!/usr/bin/make -f
%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/roboparty-rp-server/opt/roboparty/bin/rp-server-start.sh || true

override_dh_install:
	dh_install
	# Python server package
	mkdir -p debian/roboparty-rp-server/opt/roboparty/lib/python3/dist-packages/rp_server
	cp -r src/rp_server/*.py debian/roboparty-rp-server/opt/roboparty/lib/python3/dist-packages/rp_server/
