#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	# Python package
	mkdir -p debian/roboparty-rp-server/opt/roboparty/lib/python3/dist-packages/rp_server
	cp -r src/rp_server/*.py \
		src/rp_server/transport src/rp_server/protocol src/rp_server/drivers \
		debian/roboparty-rp-server/opt/roboparty/lib/python3/dist-packages/rp_server/
	find debian/roboparty-rp-server/opt/roboparty/lib/python3/dist-packages/rp_server \
		-name '__pycache__' -type d -exec rm -rf {} + 2>/dev/null || true
